.qu-blue {
  color: #0c2340 !important;
}

.qu-yellow {
  color: #ffb81c !important;
}

.qu-blue-bg {
  background-color: #0c2340 !important;
}

.qu-yellow-bg {
  background-color: #ffb81c !important;
}

.btn-no-border {
  border: none;
}

.navbar {
  height: 72px !important;
  padding: 0 8px !important;
}
